body {
  margin: 0;
  background: #313131;
  font-family: sans-serif;
  overflow: hidden;
}

.content {
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  grid-template:
    "header header" 30px
    "timer timer" 100px
    "start stop" calc(100% - 150px);
}

button {
  border: unset;
  outline: none;
  font-size: 5rem;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background: #444444;
  color: white;
}

button:active {
  background: #222222;
}

.timer {
  grid-area: timer;
  font-size: 5rem;
  background: #212121;
  text-align: center;
  color: white;
  border-radius: 5px;
  object-fit: cover;
  font-variant-numeric: tabular-nums;
  position: relative;
}

#start {
  grid-area: start;
  color: limegreen;
}

#stop {
  grid-area: stop;
  color: tomato;
}

.active {
  background: limegreen;
  color: white;
}

.active > #milli {
  color: #fff6;
}

#milli {
  font-size: 3rem;
  position: absolute;
  left: calc(50% + 200px);
  color: #fff3;
  bottom: 15px;
  transform: translateX(-50%);
}

#reset {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  background: transparent;
}

#reset:active {
  background: #0008;
}

#date {
  font-size: 1rem;
  color: white;
}

#remaining {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 2;
  font-size: 1.5rem;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
